@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-darkslate;
  @apply text-white;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
    @apply text-electricblue;
    @apply hover:text-deepblue;
    @apply transition-colors;
    @apply underline;
}

input {
    @apply bg-deepblue;
    @apply text-white;
    @apply border border-electricblue;
    @apply rounded-lg;
    @apply px-3 py-2;
}

button {
    @apply bg-electricblue;
    @apply text-white;
    @apply border border-electricblue;
    @apply rounded-lg;
    @apply px-3 py-2;
}
